$bleu: #4cc6ea;
$bg: #222;
$font: 20px/1.5 Arial, Helvetica, sans-serif;

// GLOBAL --
body{
  font: $font;
  background-color: $bg;
  color: white;
  padding: 0;
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

h3{
  text-align: center;
  font-size: 30px;
}
b{
  color: $bleu;
}

a:hover{
  color: $bleu;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

img{
  float: left;
}
//
header{
  min-height: 40px;
  border-bottom: $bleu 3px solid;
  font-size: 20px;
  ul {
    list-style: none;
    float: right;
    li {
      padding-right: 30px;
      margin-top: 10px;
    }
  }
}

#photo{
  float: left;
  margin-left: 5%;
  p,h2 {
    margin: 0;
  }
}

.CV{
  border: 2px solid $bleu;
  border-radius: 2px;
  padding: 4px;
}

#container{
  min-height: 350px;
  width: 100%;
  #Objectif{
    text-align: center;
    margin-right: 5%;
  }
}


#skills {
  margin: auto;
  -moz-column-count: 3;
  -moz-columns: 3;
  -webkit-columns: 3;
  columns: 3;
  min-height: 300px;
  ul{
    margin-left: 5%;
  }
}


#skills {

  .myProgress {
    width: 90%;
    background-color: grey;
    border-radius: 10px;
  }
  .myBar_android {
    width: 40%;
    height: 25px;
    background-color: $bleu;
    border-radius: 10px;
    text-align: right;
    color: #262626
  }
  .myBar_css {
    width: 60%;
    height: 25px;
    background-color: $bleu;
    border-radius: 10px;
    text-align: right;
    color: #262626

  }
  .myBar_html {
    width: 80%;
    height: 25px;
    background-color: $bleu;
    border-radius: 10px;
    text-align: right;
    color: #262626

  }
  .myBar_java {
    width: 40%;
    height: 25px;
    background-color: $bleu;
    border-radius: 10px;
    text-align: right;
    color: #262626

  }
  .myBar_php{
    width: 60%;
    height: 25px;
    background-color: $bleu;
    border-radius: 10px;
    text-align: right;
    color: #262626

  }
  .myBar_wordpress {
    width: 60%;
    height: 25px;
    background-color: $bleu;
    border-radius: 10px;
    text-align: right;
    color: #262626
  }
  .myBar_presta {
    width: 50%;
    height: 25px;
    background-color: $bleu;
    border-radius: 10px;
    text-align: right;
    color: #262626;
  }
  .myBar_git{
    width: 60%;
    height: 25px;
    background-color: $bleu;
    border-radius: 10px;
    text-align: right;
    color: #262626;
  }
  .myBar_humeur {
    width: 100%;
    height: 25px;
    background-color: $bleu;
    border-radius: 10px;
    text-align: right;
    color: #262626

  }
  .myBar_volonte {
    width: 100%;
    height: 25px;
    background-color: $bleu;
    border-radius: 10px;
    text-align: right;
    color: #262626
  }

  .myBar_englais {
    width: 70%;
    height: 25px;
    background-color: $bleu;
    border-radius: 10px;
    text-align: right;
    color: #262626

  }

  .myBar_sass {
    width: 40%;
    height: 25px;
    background-color: $bleu;
    border-radius: 10px;

    text-align: right;
    color: #262626
  }
}

table{
  margin: auto;
    border-collapse: separate;
    border-spacing: 50px;
  }